<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/videojuegos.css">

        <title>Tienda VJ</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                <img src="img/logo.png" width="30" height="30" alt="">
                Tienda VJ
            </a>
            <!<!-- formulario para buscar videojuegos -->
             <!-- accion del formulario es ir a la url /buscar que esta escuchando un controlador -->
            <form th:action="@{/buscar}" class="form-inline my-2 my-lg-0">
                <!-- name="q" para especificar que el atributo enviado por la url se llamara q -->
                <input autofocus="autofocus" name="q" class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </nav>

        <div class="container mt-4 vj-destacados">
            <div class="row">
                <div class="col col-md-12 text-right mb-4">
                    <!-- th:href para indicar rutas a los enlaces -->
                    <a th:href="@{/videojuegos/crear}" class="btn btn-primary btn-lg">Crear videojuego</a>
                </div>
            </div>
            <div class="row">
                <!-- si la lista esta vacia mostramos un mensaje -->
                <div th:if="${lista.isEmpty()}">
                    <h2>no se han encontrado resultados</h2>
                </div>
                <!-- th:if para comprobar si la lista esta vacia -->
                <!-- th:each variable a usar en el html : ${nombre del objeto que pasas en el controller} -->
                <div th:if="${!lista.isEmpty()}" th:each="videojuego : ${lista}" class="col-md-3 mb-4">
                    <div class="card">
                        <img th:src="${videojuego.urlImagen}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <!-- th:text para cargar un texto de forma dinamica -->
                            <h5 th:text="${videojuego.nombre}" class="card-title"></h5>
                            <p>
                                <!-- ejemplo de link que pasa parametros por la url, en este caso el id -->
                                <a th:href="@{/videojuegosPorDistribuidor(id=${videojuego.distribuidor.id})}" class="badge badge-primary" th:text="${videojuego.distribuidor.nombre}"></a>
                            </p>
                            <p th:text="${videojuego.descripcion}" class="card-text"></p>
                        </div>
                        <div class="card-footer text-muted">
                            <p>
                                <a th:href="@{/videojuegos/crear(id=${videojuego.id})}" class="btn btn-primary">Modificar</a>
                                <a th:href="@{/videojuegos/eliminar(id=${videojuego.id})}" class="btn btn-danger">Eliminar</a>
                            </p>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>